body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.counter {
  display: flex;
  align-items: center;
}

.counter__value {
  font-size: 96px; 
  padding: 24px;
  width: 200px;
  text-align: center;
  color: #47535a;
}

.counter__button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  background-color: #b0bec5;
  border: 1px solid #9aa9b1;
  color: #46535a;
  width: 64px;
  height: 64px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}

.counter__button:hover {
  background-color: #9aa9b1;
}